@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Open+Sans+Condensed:wght@300&family=Shadows+Into+Light&display=swap");

.small-nav ul{
    text-decoration: none;
    list-style: none;
   
}
.small-nav spam{
    font-size: 30px;
    text-decoration: underline rgb(241, 28, 28);
    color: rgb(250, 27, 94);
    
   
  
    
}

.site-navbar .container {
  padding-bottom: 10px;
}

.menu-wrap {
  height: 8vh;
  border-radius: 40px;
}

.site-menu li:hover {
  transform: scale(1.2);
}

.site-menu {
  font-family: "Cormorant Garamond", serif;
}

.text-red {
  font-family: "Shadows Into Light", cursive;
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 991px) {
  .menu-wrap {
    height: 7vh;
    padding-bottom: 20px;
  }
}

@media (max-width: 650px) {
  .menu-wrap {
    height: 7vh;

    display: flex;
    flex-wrap: wrap;
  }
}
