@import url("https://fonts.googleapis.com/css2?family=Thasadith&display=swap");

.header {
  height: 25vh;
}

nav{
  margin-bottom: 400px;
}

.header_logo {
  position: absolute;
  margin-top:0;
  margin-left: 30px;
  width: 220px;
  height: 25vh;
  
  
}

.navbar-item-container{
  position: absolute;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin-left: 300px;
  margin-top: 15vh;
  width: 53%;
  height: 10vh;
  text-align: center;
  border-radius: 40px;
  padding-top: 20px;
  box-shadow:3px 3px 3px #888888;
  
  
}

.nav-items {
  
  font-family: "Thasadith", sans-serif;
  color: rgb(15, 14, 14);
  padding-left: 80px;
  letter-spacing: 1px;
  font-size: 25px;
  
  
}

#btn {
  height: 20px;
  width: 80px;
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: "Cookie", cursive;
  position: relative;
  transition: 0.75s;
  -webkit-tap-highlight-color: transparent;

  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

#btn #circle {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#btn:hover {
  
  
  background: -webkit-linear-gradient(rgb(181, 182, 241), rgb(85, 95, 184));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



#myclub:hover{
  text-decoration: underline;
}

.signin-register{
  padding-left: 88%;
  background-color: rgb(34, 34, 33);
  margin-left: -10px;
  padding-top: 2px;
  height: 14%;
  margin-right: -10px;
}

.main-image{
 
  margin-left: -28px; 
  scroll-behavior: smooth;

}

.main-subclass-image{
  position: absolute;
  height: 100%;
  width: 105%;
  margin-left: -28px;
  filter: blur(0.5px);
  -webkit-filter: blur(0.5px);
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}