@import url("https://fonts.googleapis.com/css2?family=Adamina&family=Old+Standard+TT&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Adamina&family=Cormorant&family=Old+Standard+TT&display=swap");

.img p {
  font-family: "Adamina", serif;
  font-family: "Old Standard TT", serif;
  color: black;
  bottom: 0;
  font-size: 0.8em;
}

.img-fluid-bg {
  opacity: 0.6;
}

.img-logo {
  margin-left: 26%;
  padding-bottom: 12px;
}

#sidebar {
  margin-left: 0;
  margin-right: 0;
  background: #f7dcd8;
  color: #fff;
  height: max-content;

}

 .nav-item{
  font-family: "Adamina", serif;
  font-family: "Cormorant", serif;
  font-family: "Old Standard TT", serif;
  font-size: 16px;
  text-decoration: none;
  
}

li a{
  color: rgb(78, 77, 134);
}
li a::hover{
  font-size: 18px;
}


.navigation li::hover {
  background-color: green;

}


/* #sidebar ul li a {
  padding: 10px 30px;
  padding-left: 100px;
  display: block;
  padding-bottom:15px ;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: solid rgba(255, 255, 255, 0.05);
}

#sidebar a {
  text-decoration: none;
  background-color: transparent;
}

#sidebar ul li a:hover {
  color: #2f89fc;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
  font-size: 2rem;

  line-height: 2;
}

.bg-wrap {
  margin-top: -22px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.custom-menu .img-fluid-all {
  width: 100%;
}

.user-logo {
  padding-top: 20px;
  margin-top: -180px;
  background-position-y: center;

  position: absolute;
}
.bg-wrap .user-logo h3 {
  color: #fff;
  margin-top: 2px;
  font-size: 18px;
}

.user-logo img {
  width: 30%;
  padding-bottom: 10px;
  border-radius: 90%;
}

#sidebar .active {
  color: white;
}


.right_main {
  width: 80%;
  height: 100vh;
} */
