*{
    margin: 0px;
    padding: 0px;
}

.side-bar{
    width: 240px;
    height: 750px;
    display: block;
    margin-top: 90px;
    background-color: aqua;
    overflow: auto;
    position: relative;
}

.display-pic{
    height: 150px;
    width: 150px;
    margin-left: 43px;
    background-color: wheat;
    text-align: center;
}

.dp{
    height: 75%;
    width: 75%;
}

.nav-branch{
    height: 50px;
    background-color: tomato;
    text-align: center;
    padding-top: 15px;
}