body{
    overflow: hidden;
}

form{
    width: 22%;
    margin-top: 1%;
    margin-left: 37%;
    height: 60vh;
}

button{
    margin-left: 100px;
}

svg{
    margin-top: 10px;
}

.go-Login{
    margin-top: 20px;
    margin-left: 47%;
}