.main-body {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(235, 233, 245);
  background-image: url('../images/about.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  background-color: rgb(235, 233, 245);
}
