@import url("https://fonts.googleapis.com/css2?family=Adamina&family=Old+Standard+TT&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Adamina&family=Cormorant&family=Old+Standard+TT&display=swap");



.img p {
  font-family: "Adamina", serif;
  font-family: "Old Standard TT", serif;
  color: black;
  bottom: 0;
  
  font-size: 0.7em;
}


.img-fluid-bg {
  opacity: 0.5;
}

.logo {
  height:80%;
  width: 50%;
  margin-left: 26%;
  padding-bottom: 12px;
}

#sidebar {
  margin-left: 0;
  margin-right: 0;
  background: #e9dbdb;
  color: #fff;
  height: max-content;

}

 .nav-item{
  font-family: "Adamina", serif;
  font-family: "Cormorant", serif;
  font-family: "Old Standard TT", serif;
  font-size: 16px;
  text-decoration: none;
  
}

li a{
  color: rgb(78, 77, 134);
}
li a::hover, .active{
 text-decoration: underline;
}


.navigation li::hover {
  background-color: green;

}



