section .section-news{
    overflow: scroll;
}

.card{
    font-family: 'Roboto',sans-serif;
    
    min-width: 30rem;
    max-width: 30rem;
    height:min-content;
    margin-bottom: 10px;
    box-shadow: 0 1.4rem 3rem rgba(0,0,0,.2);
        
    border-radius: 10px;
    background-color: rgb(243, 241, 241);
    /* margin-left: 22px; */


}


.news-post_title{
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: rgb(41, 41, 41);
}

.news-post_description{
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgba(0,0,0, .7);
}



.card .card-body p{
    margin-left: 0;
    padding-left: 20px;
    align-content: center;
    font-family: sans-serif;
    padding-bottom: 0;
}

.card-body h2{
    padding-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}